.title {
  background-color: rgba(6, 69, 243, 0.849);
  opacity: 0.9;
  color: white;
  padding-bottom: 5px;
}

#title {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

#subtitle {
  text-align: center;
  font-size: 17px;
}

.namelink {
  color: rgb(206, 206, 206);
}

.para {
  border-style: solid;
  border-width: 0 0 2px 8px;
  padding: 8px;
  border-color: rgba(0, 102, 255, 0.877);
  font-size: 25px;
}

#AErecon,
#NAErecon {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 2px;
  margin-left: 1%;
}

.presettitle {
  color: rgb(70, 97, 250);
  font-size: 18px;
  font-weight: 700;
}

.presetsubtitle {
  padding: 2px;
  color: rgb(51, 113, 247);
}

#preset {
  margin-left: 0.1%;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 1px;
  width: 230px;
  border-color: rgb(77, 156, 235);
  background-color: rgb(227, 237, 241);
  padding-bottom: 10px;
}

.canvastitle {
  text-align: center;
  padding: 2px;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

canvas {
  background-color: black;
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.preset_btn {
  float: left;
}

.inputborder {
  border-style: solid;
  padding-bottom: 10px;
  border-color: black;
}

.defaultborder {
  border-style: solid;
  padding-bottom: 10px;
  border-color: white;
}
