.title {
  background-color: rgba(6, 69, 243, 0.849);
  opacity: 0.9;
  color: white;
  padding-bottom: 5px;
}

#title {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

#subtitle {
  text-align: center;
  font-size: 17px;
}

#namelink {
  color: rgb(206, 206, 206);
}

#para {
  border-style: solid;
  border-width: 0 0 2px 8px;
  padding: 8px;
  border-color: rgba(0, 102, 255, 0.877);
  font-size: 25px;
}

#AErecon,
#NAErecon {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 2px;
  margin-left: 1%;
}

#presettitle {
  color: rgb(70, 97, 250);
  font-size: 18px;
  font-weight: 700;
}

#presetsubtitle {
  /*border-style: solid;*/
  /*border-width: 1px 1px 1px 1px;*/
  padding: 2px;
  /*word-break: break-all;*/
  /*border-color: rgb(77, 156, 235);*/
  color: rgb(51, 113, 247);
}

#preset {
  margin-left: 0.1%;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 1px;
  width: 230px;
  /*word-break: break-all;*/
  border-color: rgb(77, 156, 235);
  background-color: rgb(227, 237, 241);
  padding-bottom: 10px;
}

#canvastitle {
  /*border-style: solid;*/
  /*border-width: 1px 1px 1px 1px;*/
  text-align: center;
  padding: 2px;
  font-weight: bold;
  /*word-break: break-all;*/
  /*border-color: rgb(77, 156, 235);*/
  /*background-color: rgb(204, 225, 235);*/
  font-size: 18px;
  color: black;
  /*border-radius: 5px/10px;*/
}

#canvasbutton {
  width: 3.5rem;
  height: 2rem;
  font-size: 16px;
}

canvas {
  background-color: black;
  /*border: 1px solid blue;*/
  /*position: absolute;*/
  width: 90%;
  display: block;
  margin: auto;
  /*height: 100%;*/
  margin-bottom: 10px;
}

.parent {
  width: 90%;
  margin: 10px auto;
}

.first {
  /*float: left;*/
  /*width: 30%;*/
  /* height: 150px; */
  box-sizing: border-box;
}

.second {
  /*float: left;*/
  margin-left: 5%;
  /*width: 30%;*/
  /* height: 150px; */
  box-sizing: border-box;
}

.third {
  /*border: 2px solid black;*/
  /*float: left;*/
  margin-left: 5%;
  /*width: 30%;*/
  /* height: 150px; */
  box-sizing: border-box;
}

.preset_btn {
  float: left;
}
